.container {
    background: var(--bg-panel);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    min-width: var(--layout-min-width);
    max-width: var(--layout-max-width);
    margin: var(--space-2) auto;
    padding: var(--space-2);
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    min-height: 0;
    overflow: hidden;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    flex: 1;
    min-height: 0;
}


.messages {
    position: relative;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
}

.message {
    width: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 6px;
    background: #313335;
    color: #eee;
    border: 1px solid #444;
    cursor: pointer;
    text-align: left;
    transition: background 0.2s ease, transform 0.1s;
    overflow-x: hidden;
}

.messageBody {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.itemWrap {
    padding: 6px 0;
}

.toBottom {
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 8px 10px;
    border-radius: 999px;
    border: 0;
    cursor: pointer;
}

.bottomWrapper{
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: flex-end;
}


/* контейнер индикатора */
.connection {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

/* сама точка */
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* online */
.online {
    background: #22c55e;
    box-shadow: 0 0 8px #22c55e;
    animation: pulse 1.5s infinite;
}

/* offline */
.offline {
    background: #ef4444;
}

/* текст */
.label {
    opacity: 0.8;
}

/* пульсация */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
    }
    70% {
        box-shadow: 0 0 0 6px rgba(34, 197, 94, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
    }
}