.container {
    background: var(--bg-panel);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    min-width: var(--layout-min-width);
    max-width: var(--layout-max-width);
    margin: var(--space-2) auto;
    padding: var(--space-2);
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    min-height: 0;
    overflow: hidden;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    flex: 1;
    min-height: 0;
}


.messages {
    display: flex;
    position: relative;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    flex-direction: column;
}

/*Выбрать .vItem, который идёт сразу после другого .vItem*/
.vItem + .vItem {
    margin-top: 8px;
}

.itemWrap {
    display: flex;
    width: 100%;
}

.itemWrapMine {
    justify-content: flex-end;
}

.itemWrapOther {
    justify-content: flex-start;
}

.toBottom {
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 8px 10px;
    border-radius: 999px;
    border: 0;
    cursor: pointer;
}

.bottomWrapper {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: flex-end;
}