.tabs-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Tabs как flex-колонка */
.tabs-page .ant-tabs {
  min-height: 0;
}

/* Контент Tabs */
.ant-tabs-content-holder {
  display: flex;
}

.ant-tabs-tabpane {
  height: 100%;
  display: flex;
}
