.scrollableWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.scrollableContent {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
