@import "variables.css";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-warning);
}

code {
  background: #424242;
  padding-left: 3px;
  padding-right: 3px;
}

/*Scroll*/
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}