@import "typography.css";
@import "scrolls.css";
@import "variables.css";
@import "panels.css";

html {
    font-size: 16px;
}

body {
    margin: 0;
}

p {
    margin: var(--space-1) 0;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-warning);
}

