@import "scrolls.css";
@import "variables.css";
@import "panels.css";

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-warning);
}

code {
    background: #424242;
    padding-left: 3px;
    padding-right: 3px;
}

/*Scroll*/
