.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  align-items: stretch;
}

.panel {
  display: flex;
  align-items: center; /* центр по вертикали */
  justify-content: space-between; /* контент слева, кнопка справа */

  background: var(--bg-item);
  border: var(--border-1);
  padding: var(--space-4);
  border-radius: var(--radius-md);
}
