h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem; /* 20px */
}

h4 {
  font-size: 1.125rem; /* 18px */
}

h5 {
  font-size: 1rem; /* 16px */
}

h6 {
  font-size: 0.875rem; /* 14px */
}

hr {
  border: none;
  height: 1px;
  background: var(--bg-border);
}

:not(pre) > code {
  background: #424242;
  padding: 0 var(--space-1);
  border-radius: var(--radius-md);
  font-size: 0.95em;
}

pre > code {
  padding: 0;
  background: transparent;
}

blockquote {
  margin: var(--space-1) 0;
  padding: 8px var(--space-2);
  border-left: 4px solid var(--bg-border); /* цвет и толщина палочки */
}
