.scrollableWrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;

  flex: 1; /* Занимает остаток в колонке*/
  min-height: 0; /* Позволяет дочернему overflow работать */
}

.scrollableContent {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.toTopButton {
  position: absolute;
  right: 16px;
  bottom: 16px;

  animation: popIn 0.35s ease-out;
}

@keyframes popIn {
  0% {
    transform: translateY(30px) scale(0.7);
    opacity: 0;
  }
  50% {
    transform: translateY(-6px) scale(1.1);
  }
  70% {
    transform: translateY(2px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}